<div class="platform__wrapper">
  <div class="rankings-header">
     
    <div class="rankings-header__container">
        <div class="rankings-header__content">
            <div class="rankings-header-meta">
              <div class="rankings-description">
                <h1>大学学部別ランキング</h1>
                  <div class="overflow-text__content">
                    <p><span>UCPでは、「学部ごとに独立したカリキュラムを有している」という日本の大学の特徴を踏まえ、他国(主にアメリカ、ヨーロッパ)で普及している評価サイトの評価基準を参考に、日本の大学を学部ごとに評価するための評価基準を以下の７つに定めました。</span>&nbsp;
                      <br><a href="/about/assessment">UCPによる評価基準について</a></p>
                  </div>
              </div><br>
            <ul class="social-share">
                <li class="social-share__button">
                  <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
                　</li>
                <li class="social-share__button">
                  <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
                  </li>
              </ul>
            </div>
          </div>
    </div>
  </div>

<div class="rankings2020_container">
  <h1>2020年度　大学学部別ランキング</h1>
  <h3>現在公開中のランキング ... <1/43></h3>
  <div class="rankings2020_lists">
    <div class="rankings2020_container_left">
    <div class="menu">
        <label for="menu_bar01">人文科学</label>
        <input type="checkbox" id="menu_bar01" class="accordion" />
        <ul id="links01">
            <li><%= image_tag 'logo_cmyk.png', width: "20px"%><a href="">文学</a></li>
            <li><a href="">史学</a></li>
            <li><a href="">哲学</a></li>
            <li><a href="">人文科学</a></li>
            <li><a href="">グローバル(国際)</a></li>
        </ul>
        <label for="menu_bar02">社会科学</label>
        <input type="checkbox" id="menu_bar02" class="accordion" />
        <ul id="links02">
            <li><a href="">法・政治学</a></li>
            <li><a href="">経済・経営・商学</a></li>
        </ul>
        <label for="menu_bar03">理学</label>
        <input type="checkbox" id="menu_bar03" class="accordion" />
        <ul id="links03">
            <li><a href="">数学</a></li>
            <li><a href="">物理学</a></li>
            <li><a href="">化学</a></li>
            <li><a href="">生物学</a></li>
            <li><a href="">地学</a></li>
            <li><a href="">理学</a></li>
        </ul>
        <label for="menu_bar04">工学</label>
        <input type="checkbox" id="menu_bar04" class="accordion" />
        <ul id="links04">
            <li><a href="">機械工学</a></li>
            <li><a href="">電気通信工学</a></li>
            <li><a href="">データサイエンス </a></li>
            <li><a href="">土木・建築工学</a></li>
            <li><a href="">応用化学</a></li>
            <li><a href="">応用理学</a></li>
            <li><a href="">工学</a></li>
        </ul>
        <label for="menu_bar05">農学</label>
        <input type="checkbox" id="menu_bar05" class="accordion" />
        <ul id="links05">
            <li><a href="">農学</a></li>
            <li><a href="">農芸化学</a></li>
            <li><a href="">農業工学</a></li>
            <li><a href="">農業経済学</a></li>
            <li><a href="">林・新産学</a></li>
            <li><a href="">獣医・畜産学</a></li>
            <li><a href="">水産学</a></li>
        </ul>
        <label for="menu_bar06">保険</label>
        <input type="checkbox" id="menu_bar06" class="accordion" />
        <ul id="links06">
            <li><a href="">医学</a></li>
            <li><a href="">歯学</a></li>
            <li><a href="">薬学</a></li>
            <li><a href="">看護</a></li>
            <li><a href="">栄養学</a></li>
        </ul>
      </div>
    </div>
    <div class="rankings2020_container_right">
      <div class="menu">
        <label for="menu_bar07">教育</label>
        <input type="checkbox" id="menu_bar07" class="accordion" />
        <ul id="links07">
            <li><a href="">教育学</a></li>
            <li><a href="">養護学</a></li>
            <li><a href="">体育学</a></li>

        </ul>
        <label for="menu_bar08">家政</label>
        <input type="checkbox" id="menu_bar08" class="accordion" />
        <ul id="links08">
            <li><a href="">家政学</a></li>
            <li><a href="">食物学</a></li>
            <li><a href="">被服学</a></li>
        </ul>
        <label for="menu_bar09">芸術</label>
        <input type="checkbox" id="menu_bar09" class="accordion" />
        <ul id="links09">
            <li><a href="">美術</a></li>
            <li><a href="">デザイン</a></li>
            <li><a href="">音楽</a></li>
        </ul>
        <label for="menu_bar10">教養</label>
        <input type="checkbox" id="menu_bar10" class="accordion" />
        <ul id="links10">
            <li><a href="">教養</a></li>
        </ul>
        <label for="menu_bar11">商船</label>
        <input type="checkbox" id="menu_bar11" class="accordion" />
        <ul id="links11">
            <li><a href="">商船学</a></li>
        </ul>
      </div>
    </div> 
  </div>
</div>
